body {
	margin: 0;
	padding: 0; 
	background-color: #bbe8d7;
	}


	a{
	color:#1b5947;
	font-family: 'Calibri';
	font-size:30px;
	font-weight:700;
	}

	hr{
	width:40%;
	border-width:0;
	height:2px;
	background-color:#ffffff;
	margin-left: 0;
	}

	table{
		margin-bottom: 50px;
	}

	td{
		background-image:url("Twitter.png");
		background-size: 1050px 300px;
		height:250px;
		vertical-align: top;
	}

	p{
		margin-left: 80px;
		margin-top: 0;
		font-family: '微软雅黑 Light';
		font-size: 20px;
		font-weight: 700;
		width:910px;
		word-break:break-all;
	}

	.link{
	margin-left:1%;
	padding-top: 0.3%;
	}

	.content{
	background-color: #ffffff;
	padding-top: 3px;
	height: 100%;
	}

	.twitter{
	/*box-shadow: 0 0 0 10px red,0 0 0 20px green;*/
	background-color: #bbe8d7;
	margin-top: 209px;
	margin-left:388px;
	width:1090px;
	border:7px dashed #42a085;
	}


	#pic1{
	position:absolute;
	left:1100px;
	top:20px;
	z-index:2;
	}

	#pic2{
	position:absolute;
	left:1600px;
	top:400px;
	z-index:2;
	}

	#pic3{
	position:absolute;
	left:20px;
	top:120px;
	z-index:2;
	}

	#pic4{
	position:absolute;
	left:340px;
	top:220px;
	z-index:-1;
	}

	#pic5{
	position:absolute;
	left:340px;
	top:309px;
	/*height:100%;*/
	/*width:1195px;*/
	z-index:-1;
	}

	#pic6{
	position:absolute;
	left:340px;
	z-index:-1;
	margin-bottom: 50px;
	}

	#time{
		text-align:right;
		margin-right: 70px;
		margin-top: 50px;
	}
	#TwitterConetent{
		width: 500px;
	}